@import './Colors.scss';

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

main {
  flex: 1;
  min-height: 100vh;
  align-items: center;
  margin-top: 100px;
}

.title-user-name {
  font-size: 48px;
  font-weight: 700;
  line-height: 65.38px;
  color: $black;
  margin: 0 0 17px 0;
}

.main-stat-container {
  width: 100%;
  justify-content: flex-start;
  align-content: flex-start;
  padding: 51px 0;
  border-bottom: 1px solid $border;
}

.main-stat-set {
  display: flex;
  align-items: center;
}

.main-stat-set .stat-val {
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
  min-width: 68px;
  color: $black;
}

.main-stat-set .stat-desc {
  font-size: 11px;
  line-height: 15px;
  color: $black;
}
.most-play-list-container {
  align-self: flex-start;
  margin-top: 10px;
}

.most-play-list-header {
  margin-bottom: 3px;
}

.most-play-list-header .col-title {
  width: 106px;
  margin-left: 15px;
}

.most-play-list-header .col-winrate {
  width: 43px;
  text-align: center;
}

.most-play-list-header .col-sub-stat {
  width: 43px;
  text-align: center;
}

.most-play-list-header .col-text {
  font-size: 10px;
  line-height: 13.63px;
  color: $black;
}

.most-play-item-container .most-play-item-main-col {
  width: 63px;
}

.most-play-item-container .most-play-item-main-col .col-lane-text {
  font-size: 12px;
  line-height: 16.32px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.most-play-item-container .most-play-item-main-col .col-match-count-text {
  font-size: 10px;
  line-height: 13.62px;
}

.most-play-item-container .col-winrate {
  width: 45px;
  text-align: center;
}

.most-play-item-container .col-sub-stat {
  width: 42px;
  text-align: center;
}

.most-play-item-container .col-stat-text {
  font-size: 13px;
  font-weight: bold;
  line-height: 17.71px;
  color: $black;
}

.most-play-item-container {
  padding: 4px 14px;
  margin-bottom: 6px;
  border: 1px dashed transparent;
  align-items: center;
}

.most-play-item-container:hover, .most-play-item-container.selected {
  position: relative;
  border: 1px dashed $border;
  border-radius: 6px;
}

.most-play-item-container.selected::after {
  content: '';
  position: absolute;
  right: -25px;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid $blue;
  border-right: 7px solid transparent;
}

.most-item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: $gray;
  width: 32px;
  height: 32px;
  border-radius: 2px;
  margin-right: 10px;
}

.most-item-sub-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: $black;
  width: 14px;
  height: 14px;
  border-radius: 2px;
}

.invert-img {
  filter: invert(1);
}

.img-border {
  border-radius: 2px;
}

.dropdown-indicator {
  border-top: 5px solid $black;
  border-bottom: 5px solid transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  margin-top: 5px;
  margin-right: 10px;
}
